<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellFinder TechMatch</title>
    <link rel="icon" href="icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesM.css">
    <script type="module" src="https://unpkg.com/@google/model-viewer@latest/dist/model-viewer.min.js"></script>
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="https://github.com/Rdrr01/celfinder-resource/raw/refs/heads/main/pspblue.mp4" type="video/mp4">
    </video>
    <div class="logo">CellFinder</div>
    <div class="logo2">
        <img src="logo.png" alt="Logo 2">
        <span></span>
    </div>
    <div class="container">
        <div class="button-container">
            <a href="/usuarios/login"><button class="btn">Ingresar</button></a>
            <a href="/usuarios/registro"><button class="btn">Registrar</button></a>
        </div>
        <div class="box">
            <div class="title">
                <img src="logo.png" alt="Imagen 1" class="image">
                <img src="https://github.com/Rukxxxx/ccc/blob/main/comparador%20logo.png?raw=true" alt="Imagen Hover 1" class="hover-image">
                comparador de dispositivos
            </div>
            <div class="content">
                <p>descubir que dispositivo te conviene mas</p>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <img src="logo.png" alt="Imagen 2" class="image">
                <img src="https://github.com/Rukxxxx/ccc/blob/main/analizar%20logo.png?raw=true" alt="Imagen Hover 2" class="hover-image">
                analizar las gamas
            </div>
            <div class="content">
                <p>sabras si el dispositivo que quieres es mas potente que la media del mercado actual</p>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <img src="logo.png" alt="Imagen 3" class="image">
                <img src="https://github.com/Rukxxxx/ccc/blob/main/registrar%20logo.png?raw=true" alt="Imagen Hover 3" class="hover-image">
                registrar dispositivos
            </div>
            <div class="content">
                <p>almacenamiento de los dispositivos que introduzcan para que puedas ver que haz introducido</p>
            </div>
        </div>
        <div class="box">
            <div class="title">
                <img src="logo.png" alt="Imagen 4" class="image">
                <img src="https://github.com/Rukxxxx/ccc/blob/main/historial%20logo.png?raw=true" alt="Imagen Hover 4" class="hover-image">
                poder revisar el historial
            </div>
            <div class="content">
                <p>Información adicional sobre el Cuadro 4.</p>
            </div>
        </div>
    </div>
    
    <!-- Contenedor para el modelo 3D -->
    <div class="model-container">
        <model-viewer src="celar.glb" alt="Un modelo 3D" auto-rotate camera-controls></model-viewer>
    </div>
</body>
</html>